&spi2 {
	status = "okay";
	cs-gpios = <&gpio0 28 GPIO_ACTIVE_LOW>;
	sdhc-spi-slot@0 {
		compatible = "zephyr,sdhc-spi-slot";
		status = "okay";
		reg = <0x0>;
		spi-max-frequency = <24000000>;
		mmc{
			compatible = "zephyr,sdmmc-disk";
			status = "okay";
		};

	};
};